advent_of_code/__pycache__/__init__.cpython-37.pyc
advent_of_code/day_4/__pycache__/__init__.cpython-37.pyc
advent_of_code/day_4/__pycache__/main.cpython-37.pyc
advent_of_code.egg-info/dependency_links.txt
advent_of_code.egg-info/PKG-INFO
advent_of_code.egg-info/SOURCES.txt
advent_of_code.egg-info/top_level.txt
tests/test-output.xml
tests/__pycache__/__init__.cpython-37.pyc
tests/__pycache__/test_advent_of_code.cpython-37-pytest-5.4.3.pyc
tests/__pycache__/test_day_4.cpython-37-pytest-5.4.3.pyc
